body {
  background: linear-gradient(135deg, #2ecc71, #27ae60);
}

.card {
  border-radius: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

input[type="file"] {
  border: 2px dashed #fff;
  background: #28a745;
  color: white;
  padding: 10px;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  border: none;
  background: #14532d;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
}
